<!-- app/views/sessions/new.html.erb -->

<h1>Login</h1>

<div style="width: 20%" class="greyborder">

  <%= form_tag '/login' do %>
    <label for="email">E-mail:</label>
    <%= text_field_tag 'email', '', class: 'form-control' %>
    <br>
    <label for="password">Password:</label>
    <%= password_field_tag :password, '', class: 'form-control' %>
    <br>
    <%= submit_tag "Login", class: 'form-control'%>
  <% end %>

</div>

