<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>


    <h2>Thank you for your order at Jungle!</h2>

    <p>
      Your order details are as follows:
    </p>

    <p>
      <b>Order #</b>: <%=@orderid%>
    </p>

    <hr>

    <p>

      <%
        @order_total = 0
        order = LineItem.where( order_id: @orderid )
        order.each do |item|
        order_product = Product.find( item.product_id )
      %>
      <%= render 'mail_line_item', product_id: item.product_id, details: item %>

      <% end %>

    </p>

    <p>
      <b>Order Total:</b> $<%= @order_total %>
    </p>

  </body>
</html>